
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<content >
    <h1 style="font-size:30px; margin-top:20px;">Rezerva acum:</h1>
    <hr/>
    <div class="reservation">
        <form id="rezerva_form" method="post">
            <label>Oras:</label><br />
            <select name="city">
                <option>Arad</option>
                <option>Bacau</option>
                <option>Baia Mare</option>
                <option>Bucuresti</option>
                <option>Constanta</option>
                <option>Cluj</option>
                <option>Deva</option>
                <option>Iasi</option>
            </select>
            <br />
            <label>Nume:</label><br />
            <input type="text" id="name" name="name" placeholder="Numele dumneavostra (Ex:Popescu Ionut)" required /><br />
            <label>Email:</label><br />
            <input type="email" name="email" placeholder="Email-ul dvs. (Ex:popescu.ionut@server.com)" required /><br />
            <label>Telefon:</label><br />
            <input type="tel" name="phone" placeholder="Numarul dvs de telefon." required /><br />
            <label>De la:</label><br />
            <input type="date" name="checkin" required /><br />
            <label>Pana la:</label><br />
            <input type="date" name="checkout" required /><br />
            <input type="submit" value="Rezerva!" />
            <p class="validationMessage"></p>
        </form>
        <div class="left-content">
            <section id="list_reservations"></section>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/reservation.js")"></script>
</content>


