
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<content>
    <h1>Despre noi</h1>
    <hr />

    <p>
        Un hotel este un stabiliment care oferă servicii de cazare contra cost, în general pentru perioade scurte de timp.[1] Hotelurile oferă adesea clienților și alte servicii, cum sunt cele de restaurant, sau de săli pentru reuniuni și conferințe.

        Hotelurile se clasifică în funcție de gradul de confort și serviciile oferite. Clasificarea diferă de la țară la țară și se poate marca prin (de la cele mai austere la cele mai luxoase):

        stele (de la 1 la 5);
        litere (de la E la A);
        clase (de la a patra la întâi).
        De obicei, sistemul de gradare a hotelurilor permite maxim 5 stele, dar în lume există și hoteluri clasificate la 7 stele, cele mai multe fiind situate în Dubai (Burj Al Arab, Dubai, Pentominium, Dubai, iSquare Hotel & Mall, Orlando, PanguPlaza (MorganPlaza), Beijing, Emirates Palace, Abu Dhabi, Seven Stars Galleria, Milano).
    </p>
</content>