body {
}

header {
    background-color:seagreen;
    border-radius: 200px;
}

hr{
    color:darkblue;
}

h1 {
    font-family:'Comic Sans MS';
    font-size:24px;
}

table {
    border-collapse:collapse;
    width:100%;
}

th,td {
    padding:10px;
    text-align:left;
}

tr:nth-child(even) {
    background-color:#808080;
}

tr {
    border-bottom:2px solid #0094ff;
}

th {
    background-color:mediumslateblue;
    color:paleturquoise;
}

.logo {
    padding:10px;
    margin-top:50px;
    font-size:24px;
    font-family:"Comic Sans MS";
    border-bottom:4px solid;
    border-color:darkslategray;
    margin-bottom:25px;
    border-radius:20px;
    float:left;
    margin-left: 25px;
    font-size: 34px;
    color: darkslategrey;
}

.header-left-side {
    display:block;
    position:relative;
}

.container-3{
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-top:25px;
}
 
.container-3 input#search{
    width: 300px;
    height: 40px;
    background: snow;
    margin-left: 25px; 
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* color: #fff; */
}

.container-3 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-3 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-3 input#search:-ms-input-placeholder {  
   color: #65737e;  
}


.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 38px;
  margin-top: 12px;
  z-index: 1;
  color: #4f5b66;
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.box {
    position:absolute;
    margin-top:120px;
}

.fa-fa-search {
    background-color: darkkhaki;
    text-align: center;
    font-size: 25px;
    margin-left: 10px;
}
